* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgba(14, 14, 14, 0.945);
}
.contentRegister {
    display: flex;
    flex-direction: column;
}

.button1 {
    filter: invert(97%) sepia(6%) saturate(516%) hue-rotate(123deg) brightness(111%) contrast(89%);
}

