* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgba(14, 14, 14, 0.945);
    height: 100%;
}
.root {
  height: 100%;
}
.contentRegister {
    display: flex;
    flex-direction: column;
}

.button1 {
    filter: invert(97%) sepia(6%) saturate(516%) hue-rotate(123deg) brightness(111%) contrast(89%);
}

.content::before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 250px;
  border-color: transparent transparent transparent #141414;
}

.content {
  width: 100%;
  background-color: #141414;
  position: relative;
}
.fondo{
  box-shadow: 1px 5px 14px 5px rgba(255,187,14,0.37);
}
.buttonInteracciones{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonInteracciones p{
  margin-left: 15px;  
  font-size: 12px;
}




